[submodule "rmq/src/rmq_broker"]
	path = rmq/src/rmq_broker
	url = https://github.com/FreightTrain/service-broker-rabbit.git
[submodule "bosh-mediator"]
	path = bosh-mediator
	url = https://github.com/FreightTrain/bosh-mediator.git
